#main
{
height: 100%;
width: 100%;
position: absolute;
background-image:url('/images/beige2.jpg');
background-position:center;
}

#info
{
color: #000; /* Fallback for older browsers */
color: rgba(0, 0, 0, 0.5);
font-family: Arial, sans-serif;
height:2%;
width:50%;
left:30%;
position:absolute;
font-size:100%
text-align:center;
}

.box {
visibility:hidden;
} 

#img
{
height: 100%;
width: 100%;
position: absolute;
background-position:center;
background-repeat:no-repeat;
}

#top
{
position:absolute;
top: 10%;
left: 25%;
text-align:left;
color:#FFD700;
font-family: 'Rouge Script', cursive;
font-size:140%;
} 

#mid
{
position:absolute;
top: 40%;
left: 25%;
text-align:left;
color:#FFD700;
font-family: 'Rouge Script', cursive;
font-size:140%
}

#first
{
position:absolute;
top: 35%;
left: 20%;
text-align:center;
font-size:225%;
color:#FFD700;
font-family: 'Rouge Script', cursive;
}

#main > #magazine {
        width: 85.25915081%;
        height: 85.35928144%;
        margin: 2.99401198% auto 0 auto;  /%2.99401198% */
}
#magazine .turn-page{
	position: absolute;
/*	background-color:#760000; */
	width:100%;
	height:100%;
	background-size:contain;
}

#magazine .page {
	position: absolute;
/*	background-color:#760000; */
	background-size:contain;
	width: 100%;
	height: 100%;
}


